.header {
  position: relative;
  height: 300px;
  background-image: url('../../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  .brand-group {
    padding: 10px 0 0 10px;
    display: flex;
    align-items: center;
    img {
      height: 25px;
    }
    p{
      margin-left: 5px;
    }
  }
  .hero-text {
    position: absolute;
    text-align: center;
    width: 380px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 10px;
    .blinking-cursor {
      font-weight: 100;
      font-size: 2.4em;
      color: #2E3D48;
      -webkit-animation: 1s blink step-end infinite;
      -moz-animation: 1s blink step-end infinite;
      -ms-animation: 1s blink step-end infinite;
      -o-animation: 1s blink step-end infinite;
      animation: 1s blink step-end infinite;
    }
    hr {
      margin: 0 auto;
      width: 220px;
    }
  }

  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
}
